#first {
  border: 2px solid orangered;
  border-radius: 10px;
  width: 500px;
  height: 250px;
  position: relative;
  left: 100px;
}

#second {
  border: 2px solid blue;
  border-radius: 20px;
  width: 600px;
  height: 250px;
}

#third {
  border: 2px solid green;
  width: 1000px;
  height: 200px;
  position: relative;
  margin: 10px;
}

#fourth {
  border: 2px solid red;
  width: 400px;
  height: 150px;
  position: absolute;
  top:  10px;
  right: 10px;
}